@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1199px) {
    header {
        .navbar {
            .navbar-nav {
                .nav-item {
                    padding: 0 10px;
                }
            }
        }
    }

    section.about {
        .content {
            .about-image {
                padding-inline-end: 15px;
            }

            .about-text {
                padding-inline-start: 15px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header {
        .navbar {
            top: 0;
            padding: 10px 0;

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            .group {
                width: 100%;
                justify-content: space-between;

                .navbar-toggler {
                    padding: 0;
                }
            }

            .login {
                display: none;
            }

            .login-side {
                display: block !important;
            }

            .navbar-brand {
                img {
                    padding: 0;
                }
            }
        }

        .offcanvas {
            .login-side {
                .btn {
                    background-color: $second_color;
                }
            }

            .navbar {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }

        .hamburger-menu {
            display: inline-block;
        }
    }

    section.about {
        padding-bottom: 50px;

        .content {
            .about-image {
                margin-bottom: 20px;
                height: auto;
            }
        }
    }

    section.about-in-page {
        .content {
            .about-image {
                float: none;
                max-width: 100%;
                height: 500px;
            }
        }
    }

    // section.subscribe {
    //     padding: 0;
    // }

    section.about-in-page {
        .content {
            .about-box {
                .about-details {
                    .main-title {
                        &::before {
                            left: calc(-26px - 11px);
                        }
                    }

                    .about-image {
                        width: calc((100% / 2) - 25px);
                    }

                    .about-text {
                        width: calc((100% / 2) - 25px);
                    }
                }

                &:nth-child(even) {
                    .about-details {
                        .about-text {
                            // direction: ltr;
                        }

                        .main-title {
                            &::before {
                                right: calc(-26px - 11px);
                                // left: calc(-26px - 11px);
                            }
                        }
                    }
                }
            }
        }
    }

    section.search-part {
        .content {
            .form-group {
                margin-bottom: 10px;
            }
        }
    }

    section.team {
        .content {
            .head-team-box {
                .image {
                    // padding: 50px 0;
                }

                .details {
                    display: block;
                    // text-align: center;
                }
            }

            .filter-part {
                .form-group {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .contact-area {
        .form-col {
            order: 1;
            margin-bottom: 60px;
        }

        .info-col {
            order: 2;
        }

        .nav-item {
            &:last-child {
                .info-item {
                    margin-bottom: 0;
                }
            }
        }
    }

    .search-part {
        .content {
            .form-group {
                margin-bottom: 15px;
            }
        }
    }

    section.training {
        .content {
            .training-box {
                .details {
                    .title {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    section.client-portal {
        .content {
            .table-area {
                padding-bottom: 20px;
            }
        }
    }

    .side-widget {
        .person {
            .image {
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    section.services {
        .content {
            .col-box {

                &:nth-child(4),
                &:nth-child(10) {
                    border-inline-start-width: 1px;
                }

                &:nth-child(10) {
                    border-bottom-width: 1px;
                }
            }
        }
    }

    section.video {
        .content {
            .round-inner {
                margin: auto;
            }
        }
    }

    section.knowledge {
        .content {
            .nav {
                grid-template-columns: repeat(2, calc(100% / 2));

                .nav-item {
                    &:nth-child(2) {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    .nav-link {
                        padding: 15px 10px;
                        font-size: 14px;
                        @include borderRadius(10px);
                        margin-inline-end: 10px;
                    }
                }
            }
        }
    }

    section.contact-in-page {
        .content {
            .links {
                margin-bottom: 30px;
            }

            .contact-info {
                .info-box {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 125px;

                    i {
                        margin-inline-end: 0;
                        margin-bottom: 15px;
                        font-size: 24px;
                    }

                    a,
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    footer {
        .footer-content {
            .footer-box {
                margin-bottom: 30px;
            }
        }
    }

    html[dir=rtl] section.about-in-page .content .about-box .about-details .main-title::before {
        right: calc(-26px - 12px);
        left: auto;
    }
}

@media screen and (max-width: 767px) {
    .main-title {
        margin-bottom: 2rem;

        .top-title {
            font-size: 16px;
            margin-bottom: 10px;

            &::before {
                width: 30px;
                margin-inline-end: 10px;
            }

            &::after {
                width: 30px;
                margin-inline-start: 10px;
            }
        }

        h2 {
            // font-size: 26px;
        }

        .btns-part {
            .btn {
                padding: 10px 15px !important;
            }
        }
    }

    header {
        .navbar {
            top: 0;
        }

        .middle-part {
            padding: 10px 0;

            .middle-part-content {
                .box {
                    .info {
                        display: none;

                        &.phone {
                            display: grid;
                        }
                    }
                }
            }
        }
    }

    section.about-in-page {
        .content {
            .about-box {
                &:nth-child(even) {
                    .about-details {
                        .main-title {
                            text-align: center;
                        }

                        .about-text {
                            text-align: center;
                        }
                    }
                }


                .time {
                    span {
                        width: 85px;
                        height: 85px;
                        font-size: 30px;
                    }
                }

                .about-details {
                    display: block;
                    padding-top: 4rem;

                    .main-title {
                        text-align: center;

                        &::before {
                            display: none;
                        }
                    }

                    .about-line {
                        height: 4rem;
                    }

                    .about-image {
                        width: 100%;
                        margin-bottom: 30px;
                    }

                    .about-text {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    section.counter-numbers {
        .content {
            .number {
                font-size: 36px;
            }
        }
    }

    section.team {
        .content {
            .search-name {
                .letters {
                    a {
                        width: calc(100% / 16);
                        font-size: 20px;
                    }
                }
            }
        }
    }

    section.single-expertise {
        .main-title {
            h2 {
                margin-bottom: 0;
                padding-bottom: 0;

                &::after {
                    display: none;
                }
            }
        }

        .content {
            .nav-expertise {
                display: block;

                .nav {
                    margin-inline-end: 0;
                    flex-direction: row;
                    margin-bottom: 30px;

                    .nav-item {
                        margin-bottom: 15px;

                        .nav-link {
                            height: auto;
                            padding-inline-start: 0;
                            margin-inline-end: 25px;

                            &::before {
                                left: 0;
                                width: 100%;
                                height: 2px;
                                bottom: 0;
                                top: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    section.video {
        .content {
            padding: 0;
            overflow: hidden;

            .round-inner {
                padding: 150px 15px;
                width: 100%;
                height: 100%;
                background-color: transparent;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                @include borderRadius(0);

                &::before {
                    display: none;
                }
            }

            .vid-icon {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                margin: auto;
                margin-bottom: 30px;
            }

            .more-link {
                text-align: center;
            }
        }
    }

    section.contact-in-page {
        .content {
            .contact-info {
                .info-box {
                    margin-bottom: 25px;
                    height: auto;

                    a,
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    section.company-profile {
        padding: 70px 0;

        .content {
            margin-bottom: 60px;

            .company-content {
                padding: 40px 25px;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    section.main-slider {
        .main-slider-carousel {
            overflow: hidden;

            &::after {
                right: -160px;
                bottom: -50px;
                top: auto;
            }
        }

        .owl-theme {
            .owl-nav {
                right: 15px;
            }
        }

        .slider-item {

            .item-text {
                padding: 0;

                .title {
                    font-size: 34px;
                }
            }
        }
    }

    .search-part .content {
        padding: 15px;
    }

    html[dir=rtl] {
        section.main-slider {
            .owl-theme {
                .owl-nav {
                    left: 15px;
                    right: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .modals {
        .modal-dialog {
            margin: 2rem 1rem;
        }
    }

    section.counter-numbers {
        .content {
            .counter-boxs {
                .single-box {
                    border: 1px solid rgb(255 255 255 / 15%);
                }

                .col {
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    section.about {
        .content {
            .main-title {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    section.news {
        .content {
            .news-box {
                grid-template-columns: 150px auto;

                .image {
                    img {
                        height: 150px;
                    }
                }

                .details {
                    padding: 15px;

                    .meta {
                        margin-bottom: 10px;
                    }

                    .title {
                        margin-bottom: 10px;

                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    section.subscribe {
        .content {
            .subscribe-form {
                .input-group {
                    flex-direction: column;

                    input {
                        width: 100%;
                        margin-inline-end: 0;
                        margin-bottom: 15px;
                        border: 1px solid rgba(255, 255, 255, .3);
                        padding: 10px 15px;
                    }
                }
            }
        }
    }

    .contact-wrapper-three {
        padding: 40px;
    }

    section.team-home {
        .content {
            .team-box {
                .image {
                    height: 400px;
                }
            }
        }
    }

    section.team {
        .content {
            .search-name {
                .letters {
                    a {
                        width: calc(100% / 10);
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    section.services {
        .content {
            .col-box {
                border: none !important;
                border-bottom: 1px solid #fff !important;
            }
        }
    }

    section.training2 {
        .content {
            .box {
                padding: 15px;
            }

            .training-box {
                margin-bottom: 0;

                .details {
                    position: static;
                    width: 100%;
                    padding: 15px;
                    padding-inline-end: 75px;
                    margin-inline-start: 0;
                    margin-top: 10px;

                    .btn {
                        bottom: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .main-breadcrumb {
        .breadcrumb-title {
            h2 {
                font-size: 24px;
            }
        }
    }

    .main-title {
        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .btns-part {
            padding-top: 25px;
        }
    }

    section.news {
        .content {
            .news-box {
                display: block;

                .image {
                    img {
                        height: 200px;
                    }
                }

                .details {
                    padding: 15px 0;
                }
            }
        }
    }

    #toTop {
        bottom: 42px;

        button {
            width: 35px;
            height: 35px;
        }
    }

    footer {
        .footer-content {
            .footer-box {
                .about {
                    p {
                        font-size: 14px;
                    }
                }

                h3+p {
                    font-size: 14px;
                }
            }
        }
    }

    .contact-wrapper-three {
        padding: 20px;
    }

    .error {
        h2 {
            font-size: 8rem;
        }
    }

    .fixed-social-links {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 200px;
                }
            }
        }

        .top-part {
            .top-part-content {
                .text {
                    p {
                        font-size: 10px;
                    }
                }

                .icons {
                    a {
                        height: 30px;
                        width: 30px;
                        line-height: 30px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .main-title h2 {
        // font-size: 30px;
    }
}