//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer(id="footer")
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-5 col-md-6")
					div(class="footer-box logo-box")
						div(class="text")
							a(href="index.html" class="footer-logo") 
								img(data-src="images/logo-white.png" class="img-fluid mb-2" alt="")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum sed. Sit obcaecati eligendi facilis quod commodi, dolorum consequatur, doloremque excepturi voluptatibus mollitia saepe? Deserunt quod rerum odio officia laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum sed. Sit obcaecati eligendi facilis quod commodi, dolorum consequatur, doloremque excepturi voluptatibus mollitia saepe? Deserunt quod rerum odio officia laudantium!
						div(class="social-links")
							div(class="links")
								a(href="#" class="bi bi-facebook")
								a(href="#" class="bi bi-twitter")
								a(href="#" class="bi bi-instagram")
								a(href="#" class="bi bi-linkedin")
				div(class="col-lg-2 col-md-6")
					div(class="footer-box")
						h4(class="title") our services
						ul(class="map-links")
							li
								a(href="single-service.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-service.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-service.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-service.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-service.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
				div(class="col-lg-2 col-md-6")
					div(class="footer-box subsc-box")
						h4(class="title") news And Insights
						ul(class="map-links")
							li
								a(href="single-news.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-news.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-news.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-news.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
							li
								a(href="single-news.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit
				div(class="col-lg-3 col-md-6")
					div(class="footer-box contact-box")
						h4(class="title") contact
						div(class="contact")
							p 
								i(class="bi bi-pin-map")
								| cairo, egypt
							p 
								i(class="bi bi-telephone")
								a(href="tel:01112121212") 01112121212
							//- p 
								i(class="bi bi-whatsapp")
								a(href="https://api.whatsapp.com/send?l=ar&phone=201112121212&text=&source=&data=" target="_blank") 01112121212
							p 
								i(class="bi bi-envelope")
								a(href="mailto:support@example.com") support@example.com
							p 
								i(class="bi bi-clock")
								| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi facere
		div(class="copyright")
			div(class="copy-text")
				p all copyright is reseved &copy; 2022
					a(href="#" class="comp") Almadkhli
//footer part