//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            div(class="slider-image")
                img(class="img-fluid" data-src="images/slider/01.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        p Lorem ipsum dolor sit amet
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        div(class="item-btn")
                            a(href="#about" class="btn") more about us
        div(class="slider-item")
            div(class="slider-image")
                img(class="img-fluid" data-src="images/slider/02.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        p Lorem ipsum dolor sit amet
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        div(class="item-btn")
                            a(href="#about" class="btn") more about us
        div(class="slider-item")
            div(class="slider-image")
                img(class="img-fluid" data-src="images/slider/03.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        p Lorem ipsum dolor sit amet
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        div(class="item-btn")
                            a(href="#about" class="btn") more about us
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image wow slideInLeft")
                        div(class="img1")
                            img(class="img-fluid" data-src="images/about/img1.jpg" alt="")
                        div(class="img2")
                            img(class="img-fluid" data-src="images/about/img2.jpg" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="about-text wow slideInRight")
                        div(class="main-title")
                            h2 WE’RE THE BEST AGENCY IN DOWNTOWN
                            p WE ARE COMMITTED TO PROVIDING OUR CUSTOMERS WITH EXCEPTIONAL SERVICE WHILE OFFERING OUR EMPLOYEES THE BEST TRAINING.
                        p Almadkhli law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in late 2007. We were committed to providing our clients with the most professional and precise legal services at very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team
                        ul 
                            li Suspe ndisse suscipit sagittis leo.
                            li Entum estibulum dignissim posuere.
                            li If you are going to use a passage.
                        div(class="about-btn")
                            a(href="about.html" class="btn") more about us
//about us

//- section(class="services")
    div(class="services-bgs")
        div(class="services-bg" data-index="0" style='background-image: url("images/services/01.jpg"); opacity: 1;')
        div(class="services-bg" data-index="1")
        div(class="services-bg" data-index="2")
        div(class="services-bg" data-index="3")
        div(class="services-bg" data-index="4")
        div(class="services-bg" data-index="5")

//services
section(class="services")
    div(class="main-title")
        h2 our services
    div(class="serv-backgrounds")
        div(class="serv-bg" data-index="1" style="background-image: url('images/services/01.jpg')")
        div(class="serv-bg" data-index="2" style="background-image: url('images/services/02.jpg')")
        div(class="serv-bg" data-index="3" style="background-image: url('images/services/03.jpg')")
        div(class="serv-bg" data-index="4" style="background-image: url('images/services/01.jpg')")
        div(class="serv-bg" data-index="5" style="background-image: url('images/services/02.jpg')")
        div(class="serv-bg" data-index="6" style="background-image: url('images/services/03.jpg')")
        div(class="container-fluid")
            div(class="content")
                div(class="row")
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="1" data-src="images/services/01.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="2" data-src="images/services/02.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="3" data-src="images/services/03.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="1" data-src="images/services/01.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="2" data-src="images/services/02.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="3" data-src="images/services/03.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="1" data-src="images/services/01.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="2" data-src="images/services/02.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="3" data-src="images/services/03.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="1" data-src="images/services/01.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="2" data-src="images/services/02.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More
                    div(class="col-lg-4 col-md-6 col-sm-6 p-0 col-box" data-target="3" data-src="images/services/03.jpg")
                        div(class="box")
                            div(class="visible-part")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                            div(class="layer")
                                div(class="title")
                                    a(href="single-services.html") 
                                        h3 Litigation, Arbitration
                                //- div(class="description")
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                span(class="custom-btn") Read More

//services

//expertise
//- section(class="expertise")
    div(class="container")
        div(class="main-title")
            h2 our expertise
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 col-sm-6 col-box")
                    div(class="box" data-wow-duration="1s" data-wow-delay="0s")
                        div(class="image")
                            img(src="images/blogs/01.jpg" alt="")
                        div(class="more")
                            div(class="title")
                                a(href="single-expertise.html") 
                                    h3 Litigation, Arbitration and Dispute Resolution
                            a(href="single-expertise.html" class="btn") 
                                i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 col-sm-6 col-box")
                    div(class="box" data-wow-duration="1s" data-wow-delay="0s")
                        div(class="image")
                            img(src="images/blogs/02.jpg" alt="")
                        div(class="more")
                            div(class="title")
                                a(href="single-expertise.html") 
                                    h3 Litigation, Arbitration and Dispute Resolution
                            a(href="single-expertise.html" class="btn") 
                                i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 col-sm-6 col-box")
                    div(class="box" data-wow-duration="1s" data-wow-delay="0s")
                        div(class="image")
                            img(src="images/blogs/03.jpg" alt="")
                        div(class="more")
                            div(class="title")
                                a(href="single-expertise.html") 
                                    h3 Litigation, Arbitration and Dispute Resolution
                            a(href="single-expertise.html" class="btn") 
                                i(class="bi bi-chevron-right")
            //- div(class="btn-more")
                a(href="single-blog.html" class="btn details-btn") more Expertise
                    i(class="bi bi-chevron-right")
//expertise

//video
section(class="video")
    div(class="container")
        div(class="main-title")
            h2 here is video
        div(class="content" style="background-image:url('images/bgs/video.jpeg')")
            div(class="round-inner")
                div(class="vid-icon")
                    a(href="https://youtu.be/YnuQwMp0oxU" data-fancybox="") 
                        i(class="bi bi-play-fill")
                    //- a(href="https://www.youtube.com/watch?v=Get7rqXYrbQ" class="lightbox-image")
                        div(class="icon")
                            span(class="flaticon-play-button-1")
                            i(class="ripple")
                div(class="title")
                    h3 Lorem ipsum dolor sit amet
                div(class="more-link")
                    a(href="") Discover More
//video

//news
//- section(class="news")
    div(class="container")
        div(class="main-title")
            h2 news and insights
            div(class="btns-part")
                a(href="single-blog.html" class="btn details-btn") more news
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
//news

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            h2 latest news
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box wow fadeInUp" data-wow-delay="0s")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Ahmed Saif
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ullam, porro eligendi animi fugit dolorum incidunt 
                            div(class="more")
                                a(href="" class="btn") 
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box wow fadeInUp" data-wow-delay="0s")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Ahmed Saif
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ullam, porro eligendi animi fugit dolorum incidunt 
                            div(class="more")
                                a(href="" class="btn") 
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box wow fadeInUp" data-wow-delay="0s")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Ahmed Saif
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ullam, porro eligendi animi fugit dolorum incidunt 
                            div(class="more")
                                a(href="" class="btn") 
                                    i(class="bi bi-chevron-right")
            //- div(class="btn-more")
                a(href="single-blog.html" class="btn details-btn") more news
                    i(class="bi bi-chevron-right")
//blogs

//partners
section(class="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
//partners

//team
section(class="team")
    div(class="container-fluid")
        div(class="main-title")
            h2 our team
        div(class="content")
            div(class="team-carousel owl-carousel owl-theme")
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/01.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/02.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/03.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/01.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/03.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/01.jpg" class="img-fluid" alt="")
                        div(class="social")
                            a(href="" aria-label="facebook") 
                                i(class="bi bi-facebook") 
                            a(href="" aria-label="twitter") 
                                i(class="bi bi-twitter") 
                            a(href="" aria-label="linkedin") 
                                i(class="bi bi-linkedin") 
                            a(href="" aria-label="instagram") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
//team home