extend index

block website_title
    title #{website_title} | our team

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/bread.jpg')")
        div(class="shape-1")
        div(class="shape-2")
        div(class="container")
            div(class="breadcrumb-title")
                h2 our team
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") our team
    //breadcrumb

    //team
    section(class="team")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-6" data-aos="fade-up")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/01.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
                    div(class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/02.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
                    div(class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/03.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
                    div(class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/01.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
                    div(class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/03.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
                    div(class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500")
                        div(class="team-box")
                            div(class="image")
                                img(data-src="../images/team/01.jpg" class="img-fluid" alt="")
                                div(class="social")
                                    a(href="" aria-label="facebook") 
                                        i(class="bi bi-facebook") 
                                    a(href="" aria-label="twitter") 
                                        i(class="bi bi-twitter") 
                                    a(href="" aria-label="linkedin") 
                                        i(class="bi bi-linkedin") 
                                    a(href="" aria-label="instagram") 
                                        i(class="bi bi-instagram") 
                            div(class="details")
                                div(class="title")
                                    a(href="single-team.html") 
                                        h3 Brayan Olson
                                    p Senior Associate 
    //team