extend index

block website_title
    title #{website_title} | about

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/bread.jpg')")
        div(class="shape-1")
        div(class="shape-2")
        div(class="container")
            div(class="breadcrumb-title")
                h2 about
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") about
    //breadcrumb
    
    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="about-box")
                    div(class="time" data-aos="fade-up")
                        span 2015
                    div(class="about-details")
                        div(class="about-image" data-aos="flip-up")
                            img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                        div(class="about-line")
                        div(class="about-text")
                            div(class="main-title" data-aos="fade-up" data-aos-delay="100")
                                h2 Who we are?
                            p(data-aos="fade-up" data-aos-delay="200") Almadkhli law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in the late 2007. We were committed to provide our clients with the most professional and precise legal services in very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team.
                div(class="about-box")
                    div(class="time" data-aos="fade-up")
                        span 2016
                    div(class="about-details")
                        div(class="about-image" data-aos="flip-up")
                            img(class="img-fluid" data-src="images/about/img2.jpg" alt="")
                        div(class="about-line")
                        div(class="about-text")
                            div(class="main-title" data-aos="fade-up" data-aos-delay="100")
                                h2 Who we are?
                            p(data-aos="fade-up" data-aos-delay="200") Almadkhli law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in the late 2007. We were committed to provide our clients with the most professional and precise legal services in very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team.
                div(class="about-box")
                    div(class="time" data-aos="fade-up")
                        span 2017
                    div(class="about-details")
                        div(class="about-image" data-aos="flip-up")
                            img(class="img-fluid" data-src="images/about/01.jpg" alt="")
                        div(class="about-line")
                        div(class="about-text")
                            div(class="main-title" data-aos="fade-up" data-aos-delay="100")
                                h2 Who we are?
                            p(data-aos="fade-up" data-aos-delay="200") Almadkhli law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in the late 2007. We were committed to provide our clients with the most professional and precise legal services in very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team.
                div(class="about-box")
                    div(class="time" data-aos="fade-up")
                        span 2018
                    div(class="about-details")
                        div(class="about-image" data-aos="flip-up")
                            img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                        div(class="about-line")
                        div(class="about-text")
                            div(class="main-title" data-aos="fade-up" data-aos-delay="100")
                                h2 Who we are?
                            p(data-aos="fade-up" data-aos-delay="200") Almadkhli law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in the late 2007. We were committed to provide our clients with the most professional and precise legal services in very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team.
    //about page

    //subscribe
    section(class="subscribe")
        div(class="container")
            div(class="content")
                div(class="subscribe-form")
                    div(class="main-title")
                        span(class="top-title") Get More Updates
                        h2 Subscribe newsletter
                    form(action="" method="")
                        div(class="input-group")
                            input(class="form-control" type="text" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="subscribeBtn")
                            button(class="btn" id="subscribeBtn" type="button") Subscribe
    //subscribe

