extend index

block website_title
    title #{website_title} | careers

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/bread.jpg')")
        div(class="shape-1")
        div(class="shape-2")
        div(class="container")
            div(class="breadcrumb-title")
                h2 careers
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") careers
    //breadcrumb

    //careers
    section(class="careers")
        div(class="container")
            div(class="content")
                div(class="career-box" data-aos="fade-up")
                    div(class="details")
                        span(class="place") 
                            i(class="bi bi-globe") 
                            | cairo, egypt
                            | |
                        span(class="time") Full-time 
                    div(class="head-part")
                        div(class="job-title")
                            h3 
                                a(href="") Accountant offer
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book.
                    div(class="apply-btn")
                        a(class="btn hvr-sweep-to-top" href="apply.html") Apply job
                            i(class="bi bi-arrow-right")
                        span(class="date") 3 days ago
                div(class="career-box" data-aos="fade-up" data-aos-delay="100")
                    div(class="details")
                        span(class="place") 
                            i(class="bi bi-globe") 
                            | cairo, egypt
                            | |
                        span(class="time") Full-time 
                    div(class="head-part")
                        div(class="job-title")
                            h3 
                                a(href="") Promotionsbegleitende Mitarbeiter
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book.
                    div(class="apply-btn")
                        a(class="btn hvr-sweep-to-top" href="apply.html") Apply job
                            i(class="bi bi-arrow-right")
                        span(class="date") 3 days ago
                div(class="career-box" data-aos="fade-up" data-aos-delay="200")
                    div(class="details")
                        span(class="place") 
                            i(class="bi bi-globe") 
                            | cairo, egypt
                            | |
                        span(class="time") Full-time 
                    div(class="head-part")
                        div(class="job-title")
                            h3 
                                a(href="") Accountant offer
                    p The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero"s De Finibus Bonorum et Malorum for use in a type specimen book.
                    div(class="apply-btn")
                        a(class="btn hvr-sweep-to-top" href="apply.html") Apply job
                            i(class="bi bi-arrow-right")
                        span(class="date") 3 days ago
    //careers